{% load run_tags %} 

{% with instruction.operation as operation %}

    {% if operation.op == 'oligosynthesize' %}
    
        <table class="table table-striped" >
         <tbody>
            {% for oligo in operation.oligos %}
                <tr>
                    <td >{% include 'container_link.html' with object=oligo.destination %}</td>
                    <td >        
                        <dl class="dl-horizontal">
                           <dt>Sequence</dt>
                           <dd>{{oligo.sequence}}</dd>
                           <dt>Scale</dt>
                           <dd>{{oligo.scale}}</dd>
                           <dt>Purification</dt>
                           <dd>{{oligo.purification}}</dd>
                        </dl>    
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>  
        
        
        
    {% elif operation.op == 'spin' %}
        
         <dl class="dl-horizontal">
            <dt>Object</dt>
            <dd>{% include 'container_link.html' with object=operation.object %}</dd>
            <dt>Acceleration</dt>
            <dd>{{operation.acceleration}}</dd>
            <dt>Duration</dt>
            <dd>{{operation.duration}}</dd>
            <dt>Flow Direction</dt>
            <dd>{% firstof operation.flow_direction 'inward' %}</dd>
            <dt>Spin Directions</dt>
            <dd>{% firstof operation.spin_direction 'clockwise' %}</dd>
         </dl>    
    
    {% elif operation.op == 'provision' %}
        <dl class="dl-horizontal">
            <dt>Resource</dt>
            <dd>{{operation.resource_id|resource_id_to_name}}</dd>
            <dt>Transfer</dt>
            <dd>
                 <table class="table table-striped" >
                    <tbody>
                       {% for destination_info in operation.to %}
                           <tr>
                               <td>{{destination_info.volume}} to {% include 'container_link.html' with object=destination_info.well %}</td>
                               
                           </tr>
                       {% endfor %}
                     </tbody>
                   </table>              
            
                {% include 'container_link.html' with object=oligo.destination %}            
            
            </dd>
            
        </dl>
        
    {% elif operation.op == 'pipette' %}

     <table class="table table-striped" >
        <tbody>

        {% for pipette_group in operation.groups %}
                
            {% with pipette_group|to_simple_transfer as simple_transfers %}        

                {% for transfer_op in simple_transfers %}     
                    <tr>
                        <td> Transfer {{transfer_op.volume_str}} from {% include 'container_link.html' with object=transfer_op.from_aq_path %} to {% include 'container_link.html' with object=transfer_op.to_aq_path %}</td>
                    </tr>
                {% endfor %}
            {% endwith %}
        {% endfor %}
        
          </tbody>
       </table>       
    
    
    {% endif %}
    
   <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#raw_protocool_div{{instruction.id}}" aria-expanded="false" aria-controls="collapseExample">
    Show/Hide Raw
  </button>
  <br />
  <div class="collapse" id="raw_protocool_div{{instruction.id}}">
    <div class="card card-block">
    <pre id="raw_protocol_{{instruction.id}}">
     </pre>
    </div>
  </div>

<script>

parsedJson{{instruction.id}} = {{operation|format_json|safe}};

document.getElementById('raw_protocol_{{instruction.id}}').innerHTML =
        JSON.stringify(parsedJson{{instruction.id}}, null, '  ');
</script>

{% endwith %}

