{% extends 'base.html' %}
{% load bootstrap3 %}
{% load run_tags %} 
{% load debug_tags %} 
{% block title %}

<a href='{{ project.get_absolute_url }}'>{{project.name}}</a> > 

<a href='{{ run.get_absolute_url }}'>{{run.title}}</a>

{% endblock %}

{% block content %}
    

<div class="row">
<span style='display:inline'>Submitted by {{run.owner.username}} on {{run.created_at}}</span>
<h2 class='pull-right'><span class="label label-default">{{run.status}}</span></h2>
</div>
    
<div class="row">

{% if run.status == 'accepted' %}
  <form style='display:inline' method="POST" action="{{request.path}}/cancel/">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Cancel Run</button>
  </form> 
  <form style='display:inline' method="POST" action="{{request.path}}/start_progress/">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Mark In-Progress</button>
  </form>  
  <form style='display:inline' method="POST" action="{{request.path}}/execute/">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Mark Complete (Execute Run)</button>
  </form>

{% elif run.status == 'in_progress' %}

  <form style='display:inline' method="POST" action="{{request.path}}/abort/">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Abort</button>
  </form>  
  
{% elif run.status == 'complete' %}

   Completed on {{run.completed_at}}
  
{% endif %}


</div>


<div class="row">
  <div class="col-md-6">
    {# Left Column  #}
    <p>
    <h2 style='display:inline'> Instructions ({{instructions|length}})</h2>
    <a href="#" class="btn btn-default open_all_accordion">open all</a>
    <a href="#" class="btn btn-default close_all_accordion">close all</a>
    </p>
    
    
    <div class="panel-group" id="accordion">
    
       
      {% for instruction in instructions %}
 
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{instruction.sequence_no}}">
            {{instruction.operation.op}}</a>
          </h4>
        </div>
        <div id="collapse{{instruction.sequence_no}}" class="panel-collapse collapse">
          <div class="panel-body">{% include 'instruction.html' with instruction=instruction %}</div>
        </div>
      </div>
      
      {% endfor %}
    
     
    </div>
  </div>
  <div class="col-md-6">
    <!-- Right Columns -->
    
      <h3 class="row col-md-12">Containers</h3>

      <div class="col-md-4">
        
        
        <ul class="nav nav-pills nav-stacked">
        
            {% for run_container in run_containers %}
        
          <li class="container-pill {% if forloop.counter0 == 0 %} active {% endif %}"><a data-toggle="pill" href="#c_{{run_container.container_label|to_safe_label}}">{{ run_container.container_label}}</a></li>
          
            {% endfor %}    
      
        </ul>
      </div>

      <div id='mytabs' class="tab-content col-md-8">

        {% for run_container in run_containers %}
     
          <div id="c_{{run_container.container_label|to_safe_label}}" class="tab-pane fade {% if forloop.counter0 == 0 %} in active {% endif %}">
            
            {% include 'container_quickview.html' with run_container=run_container %}
            
          </div>
       
        {% endfor %}      
  
      </div>

    </div>
    
  </div>
    
</div>
    
    
    
    
{% endblock %}


{% block extra_js %}

{{ block.super }}

$('.close_all_accordion').click(function(){
  $('.panel-collapse.in')
    .collapse('hide');
});

$('.open_all_accordion').click(function(){
  $('.panel-collapse')
    .collapse('show');
});

$(function(){
    $('.secondary-pill-toggle').click(function(e){
        e.preventDefault();
        $('.container-pill').removeClass('active');
        console.log(e);
    })

})


{% endblock %}  
