{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}

<a href='{{ project.get_absolute_url }}'>{{project.name}}</a> > 

<a href='{{ run.get_absolute_url }}'>{{run.title}}</a>

{% endblock %}

{% block content %}
    
    

<div class="modal-body row">
  <div class="col-md-6">
    {# Left Column  #}
    <p>
    <h2 style='display:inline'> Instructions ({{instructions|length}})</h2>
    <a href="#" class="btn btn-default open_all_accordion">open all</a>
    <a href="#" class="btn btn-default close_all_accordion">close all</a>
    </p>
    
    
    <div class="panel-group" id="accordion">
    
    
      {% for instruction in instructions %}
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{instruction.sequence_no}}">
            {{instruction.operation.op}}</a>
          </h4>
        </div>
        <div id="collapse{{instruction.sequence_no}}" class="panel-collapse collapse">
          <div class="panel-body">{% include 'instruction.html' with instruction=instruction %}</div>
        </div>
      </div>
      
      {% endfor %}
    
     
    </div>
  </div>
  <div class="col-md-6">
    <!-- Right Columns -->
    
    

<div class="container">

<h3 class="col-md-12">Containers</h3>

<div class="col-md-2">
  
  
  <ul class="nav nav-pills nav-stacked">
  
      {% for run_container in run_containers %}
  
    <li {% if forloop.counter0 == 0 %} class="active" {% endif %}><a data-toggle="pill" href="#container{{run_container.id}}">{{ run_container.container_label}}</a></li>
    
      {% endfor %}    

  </ul>
  </div>

<div class="tab-content col-md-10">

   {% for run_container in run_containers %}

  <div id="container{{run_container.id}}" class="tab-pane fade {% if forloop.counter0 == 0 %} in active {% endif %}">
    
    {% include 'container_quickview.html' with run_container=run_container %}
  </div>
  
   {% endfor %}      
  
</div>

</div>
    
    
    
    
    
{% endblock %}


{% block extra_js %}

{{ block.super }}

$('.close_all_accordion').click(function(){
  $('.panel-collapse.in')
    .collapse('hide');
});
$('.open_all_accordion').click(function(){
  $('.panel-collapse')
    .collapse('show');
});

{% endblock %}  
