{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}

<a href='{{ project.get_absolute_url }}'>{{project.name}}</a> > 

<a href='{{ run.get_absolute_url }}'>{{run.title}}</a>

{% endblock %}

{% block content %}
    
    

<div class="modal-body row">
  <div class="col-md-6">
    {# Left Column  #}
    <p>
    <h2 style='display:inline'> Instructions ({{instructions|length}})</h2>
    <a href="#" class="btn btn-default open_all_accordion">open all</a>
    <a href="#" class="btn btn-default close_all_accordion">close all</a>
    </p>
    
    
    <div class="panel-group" id="accordion">
    
    
      {% for instruction in instructions %}
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{instruction.sequence_no}}">
            {{instruction.operation.op}}</a>
          </h4>
        </div>
        <div id="collapse{{instruction.sequence_no}}" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
      
      {% endfor %}
    
     
    </div>
  </div>
  <div class="col-md-6">
    <!-- Right Columns -->
    
    

<div class="container">

<h3 class="col-md-12">Containers</h3>

<div class="col-md-2">
  
  <ul class="nav nav-pills nav-stacked">
      <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
  <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
  </ul>
  </div>

<div class="tab-content col-md-10">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

</div>
    
    
    
    
    
{% endblock %}


{% block extra_js %}

{{ block.super }}

$('.close_all_accordion').click(function(){
  $('.panel-collapse.in')
    .collapse('hide');
});
$('.open_all_accordion').click(function(){
  $('.panel-collapse:not(".in")')
    .collapse('show');
});

{% endblock %}  
