{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{project.name}}{% endblock %}

{% block content %}
    
    {% for section in sections %}
    <h2>{{section.name}}</h2>
    <table class="table table-bordered table-hover" >
    <thead >
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    
        {% for run in section.runs %}
        <tr role="button" class='clickable-row' data-href='{{ run.get_absolute_url }}'>
            <td>{{ run }}</td>
        </tr>
        {% endfor %}
    
    </tbody>
    </table>
    {% endfor %}

    
{% endblock %}

{% block bootstrap3_extra_script %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});    
</script>
{% endblock %}  